/* Pré-Configurações Gerais */
@import "../global/default-presets/rules", "../global/default-presets/mixins", "../global/default-presets/functions", "../global/default-presets/animations", "../global/default-presets/typography";

/* Pré-Configurações do Site */
@import "../global/site-presets/variables", "../global/site-presets/mixins";

/* Configurações Locais */
body { font: 500 1.2rem/1 $f-sans-1; background-color: $c-default-bg; overflow-x: hidden }
p { text-align: left; line-height: 2.15;
  &.text:not( :first-of-type ) { margin-top: 4.2rem } }

/* Componentes */
@import "../global/site-presets/components/top-header/top-header",
        "top-content/top-content", "top-content/about-us/about-us", "top-content/about-us/introduction", "top-content/about-us/what-we-do/what-we-do",
        "top-content/about-us/what-we-do/solutions", "top-content/about-us/what-we-do/brand-action", "top-content/about-us/what-we-do/healthcare",
        "top-content/about-us/what-we-do/consumer-goods", "top-content/events-list", "top-content/contact-us",
        "../global/site-presets/components/top-footer/top-footer", "../global/site-presets/components/top-footer/company-info";
