/* Chamada para Ação Marcas Premiuns */
#about-us #what-we-do #brand-action { box-sizing: border-box; width: 100%; padding: 10.4rem 4rem; @include background-1( 75% ); margin-bottom: 6rem;
  @media ( max-width: 54.95em /* 879px */ ) { padding: 6rem map-get( $content-pad, normal ); margin-bottom: 0 }
  @media ( max-width: 34.35em /* 549px */ ) { padding: 6rem map-get( $content-pad, responsive ) }
  & .content-container { @include row-flex; @include set-grid();
    @media ( max-width: 54.95em /* 879px */ ) { flex-direction: column }
    & .text-container {
      @media ( max-width: 54.95em /* 879px */ ) { margin-bottom: 4rem }
      & .heading-container { font-family: $f-sans-2; text-transform: uppercase; margin-bottom: 5.5rem;
        @media ( max-width: 54.95em /* 879px */ ) { text-align: center; margin-bottom: 2rem }
        & .title { font: { size: 4.5rem; weight: 700 }; color: nth( $c-0, 3 ); line-height: 1;
          & .line { display: block;
            @media ( max-width: 26.2em /* 419px */ ) { display: inline } } } }
      & .text-set { max-width: 46.1rem;
        & .text { color: nth( $c-1, 4 );
          @media ( max-width: 54.95em /* 879px */ ) { text-align: center } } } }
    & .button-container { margin-right: $grid-rm;
      @media ( max-width: 99.95em /* 1599px */ ) { margin-right: 0 }
      @include action-button-1 } } }
