/* Seção de Saúde */
#about-us #what-we-do #healthcare {
  @media ( max-width: 54.95em /* 879px */ ) { padding-top: 8rem }
  & .content-container { @include set-grid; padding: 9.3rem map-get( $content-pad, normal ) 14rem; position: relative; @include trailing-stroke( $left: -3.7rem, $element: before, $responsive: ( map-get( $media, tail-1a ), map-get( $media, tail-2a ), map-get( $media, tail-3a ) ) ); @include trailing-stroke( $left: -3.7rem, $element: after, $responsive: ( map-get( $media, tail-1a ), map-get( $media, tail-2a ), map-get( $media, tail-3a ) ) );
    @media ( max-width: 81.2em /* 1299px */ ) { box-sizing: border-box }
    @media ( max-width: 71.85em /* 1149px */ ) and ( min-width: 34.36em /* 549px */ ) { padding-bottom: 5rem }
    @media ( max-width: 34.35em /* 549px */ ) { padding: 9.3rem map-get( $content-pad, responsive ) 14rem }
    &::before { top: 0 }
    &::after { bottom: 0 }
    & .texts-block { @include row-flex( wrap, $side-aligment: flex-start ); margin-right: $grid-rm;
      @media ( max-width: 99.95em /* 1599px */ ) { margin: 0 auto }
      @media ( max-width: 71.85em /* 1149px */ ) { margin-top: 3rem }
      @media ( max-width: 62.45em /* 999px */ ) { flex-direction: column; align-items: center }
      & .side-image { @include drop-shadow-1; margin-bottom: 7rem; order: 2;
        @media ( max-width: 71.85em /* 1149px */) { width: 50rem; align-self: flex-end }
        @media ( max-width: 62.45em /* 999px */ ) { align-self: auto; margin-bottom: 3rem; order: 1 }
        @media ( max-width: 34.35em /* 549px */ ) { width: auto; min-width: 28rem } }
      & .text-container { margin-bottom: 6.1rem;
        @include heading-block-1 {
          @media ( max-width: 71.85em /* 1149px */ ) { @include abs-center( left ); top: 0; text-align: center } };
        & .text-set {
          & .text {
            @media ( max-width: 62.45em /* 999px */ ) { text-align: center } } }
        &[ class~="side" ] { max-width: 38.2rem; order: 1;
          @media ( max-width: 71.85em /* 1149px */)  { max-width: 45rem; align-self: center }
          @media ( max-width: 68.7em /* 1099px */ ) { max-width: 36rem }
          @media ( max-width: 62.45em /* 999px */ ) { max-width: 80rem; margin-bottom: 4rem; order: 2 } }
        &[ class~="full" ] { width: 100%; order: 3;
          & .text-set { columns: 2 32rem; column-gap: 12rem } } } }
    & .images-block { @include row-flex( wrap ); margin-right: $grid-rm;
      @media ( max-width: 99.95em /* 1599px */ ) { margin: 0 auto }
      @media ( max-width: 65.59em /* 1049px */ ) { flex-direction: column; align-items: center }
      @include images-grid-block-1( false, ( max-w: 23.5rem, f-size: 1.7rem ), $responsive: ( map-get( $media, img-block-r-1a ) ) ) } } }
