// Misturas Globais Gerais
	@mixin enclosed-viewport() // Para páginas sem barra de rolagem vertical
		{ html { height: 100%;
		  	& body { height: 100%; overflow-y: hidden } } }

  @mixin set-grid( $grid: 120rem, $m-top: 0, $m-bottom: 0 ) // Define a Grade de Layout
    { width: 100%; max-width: $grid; margin: $m-top auto $m-bottom }

  @mixin shape-circle( $diameter: 1rem, $color: black ) // Forma Círculos
    { border-radius: 50%; width: $diameter; height: $diameter; background-color: $color }

  @mixin col-calc( $margin, $col, $spaceCount: 1 ) // Define a largura de uma coluna dentro do grupo de colunas em que se inseri
		{ width: calc( ( #{ $spaceCount } * ( 100% - ( #{ $margin } * ( #{ $col } - 1 ) ) )/#{ $col } ) + ( #{ $margin } * ( #{ $spaceCount } - 1 ) ) ) }

	@mixin row-flex( $wrap: nowrap, $main-aligment: space-between, $side-aligment: center ) // Definição de conteúdo flexível horizontal
		{ display: flex; flex-flow: row $wrap; justify-content: $main-aligment; align-items: $side-aligment }

	@mixin column-flex( $wrap: nowrap, $main-aligment: space-between, $side-aligment: center ) // Definição de conteúdo flexível vertical
		{ display: flex; flex-flow: column $wrap; justify-content: $main-aligment; align-items: $side-aligment }

  @mixin clearfix() // Para objetos com medidas em colapso devido a descendentes flutuantes
		{ &::after { content: ""; display: table; clear: both } }

	@mixin null-content( $width: 100%, $height: 100% ) // Indica que o pseudoelemento não terá conteúdo textual
		{ content: ""; display: inline-block; width: $width; height: $height }

	@mixin abs-center( $direction: both, $position: absolute, $add-transform: false ) // Centraliza horizontal e verticalmente objetos posicionados
		{ $transform: null; position: $position;
      @if $direction == both
        { top: 50%; left: 50%; $transform: translate( -50%, -50% ) }
      @else
        { #{ $direction }: 50%; $transform: if( $direction == left, translateX( -50% ), translateY( -50% ) ); }
			transform: if( not $add-transform, $transform, $transform $add-transform ) };

	@mixin text-hidden( $hidden-sign: clip )
		{ overflow: hidden; white-space: nowrap; text-overflow: $hidden-sign }

	@mixin text-shadow( $color, $hover: false ) // Confere a Sombras a Textos
		{ text-shadow: 1px 1px 3px rgba( $color, .3 ), 3px 3px 5px rgba( $color, .15 );
			@if $hover { &:hover { text-shadow: 2px 2px 4px rgba( $color, .3 ), 4px 4px 6px rgba( $color, .15 ) } } }

	@mixin text-gradient( $color1, $color2, $deg: 90deg ) // Confere Gradiente a Textos
		{ color: transparent; background-image: linear-gradient( $deg, $color1, $color2 ); -webkit-background-clip: text; background-clip: text }

	@mixin raise-object( $transition: false, $active: false, $xMove: 0 ) // Alça Objetos
		{ @if $transition { & { transition: all .4s ease-out } }
			&:hover { transform: translate( $xMove, -.2rem ) scale( 1.05 ) skewX( -2deg ) }
		 	@if $active { &:active { transform: translate( $xMove, -.1rem ) scale( 1.05 ) skewX( -1deg ) } } }
