/* Cabeçalho Superior */
#top-header { box-sizing: border-box; padding-bottom: 12rem; background: url( "../../multimedia/images/backgrounds/city-1.jpg" ) no-repeat center/cover $c-default-bg; position: relative;
  @media ( max-width: 68.7em /* 1099px */) { background-position-x: 23% }
  @media ( max-width: 65.6em /* 1049px */ ) { background-position-x: 17% }
  & .content-container { box-sizing: border-box; @include set-grid;
    @media( max-width: 82.45em /* 1319px */ ) { max-width: none; padding: 0 3rem }
    @media( max-width: 34.95em /* 559px */ ) { padding: 0 1.5rem }
    & .nav-container { @include row-flex; padding: 2rem 0; line-height: normal;
      & .contact-container {
        & .contact-info { font: { family: $f-sans-3; size: 1.6rem }; text-transform: uppercase; letter-spacing: -.1rem; word-spacing: .1rem;
          @media( max-width: 48.7em /* 779px */ ) { font-size: 1.4rem }
          @media( max-width: 23.7em /* 379px */ ) { font-size: 1.2rem }
          & .message { cursor: default;
            & .action {
              @media( max-width: 34.95em /* 559px */ ) { display: none } }
            & .tel { color: nth( $c-1, 1 ); cursor: pointer } } }
        @include social-list-block-1( 1.5rem, 2.5rem, ( facebook: "facebook-1.png", twitter: "twitter-1.png", linkedin: "linkedin-1.png", youtube: "youtube-1.png" ) ) { float: left; margin-top: 1rem;
          @media( max-width: 34.95em /* 559px */ ) { margin-top: .5rem;
            & li:not( :last-child ) { margin-right: 1.4rem } }
          @media( max-width: 23.7em /* 379px */ ) {
            & li:not( :last-child ) { margin-right: 1rem } } } }
      & .logo { position: relative; animation: move-bottom nth( $a-dt, 2 ) .25s both;
        @media( max-width: 48.7em /* 779px */ ) { width: 12rem } }
      & .links-container {
        & .pages-list { color: nth( $c-0, 1 ); font-family: $f-sans-3; text-transform: uppercase; line-height: 1;
          & li { display: inline-block; padding: 2.7rem 0; position: relative;
            & a { display: inline-block; width: 100%; transition: color nth( $a-dt, 1 ), transform nth( $a-dt, 3 );
              &:hover, &:focus { color: nth( $c-1, 1 ) }
              &:active { transform: translateY( -.2rem ) }
              @media( max-width: 26.2em /* 419px */ ) {
                & span.removable { display: none } } }
            &:not( :last-child ) { margin-right: 4.4rem;
              @media ( max-width: 68.7em /* 1099px */) { margin-right: 1.5rem } }
            &.current { @include trailing-stroke( $bottom: 1.5rem, $width: 8.7rem );
              &::before { @include null-content( .3rem, .3rem ); background-color: nth( $c-2, 1 ); position: absolute; left: -1rem; bottom: 2.7rem } } }
          &.js-sliding { padding-left: 2rem; cursor: pointer; overflow: hidden; transition: height nth( $a-dt, 2 );
            & li { display: block; padding: 1.2rem 0; border-bottom: solid .1rem nth( $c-2, 1 ); position: relative; top: -1.2rem;
              &:nth-child( n ) { margin-right: 0 }
              &::before { display: none }
              &::after { display: none }
            @media( max-width: 23.7em /* 379px */ ) { font-size: 1rem; padding: .5rem 0; top: -1.2rem } }
            &::before { content: url( "../../multimedia/images/icons/rarr-3.png" ); display: inline-block; position: relative; left: -1.5rem; top: 1.2rem; transform: rotate( 90deg ); filter: brightness( 0% );
              @media( max-width: 23.7em /* 379px */ ) { left: -1rem; top: .5rem } } } }
        @include social-list-block-1( 1.5rem, 2.5rem, ( facebook: "facebook-1.png", twitter: "twitter-1.png", linkedin: "linkedin-1.png", youtube: "youtube-1.png" ) ) { float: right } } }
    & .heading-container { margin: 9.5rem 0 20.6rem; position: relative;
      @media( max-width: 82.45em /* 1319px */ ) { max-width: 100rem; margin: 9.5rem auto 20.6rem }
      @media ( max-width: 68.7em /* 1099px */ ) { text-align: center }
      @media ( max-width: 68.7em /* 1099px */ ) and ( min-width: 65.61em /* 1050px */ ) { position: relative; left: -6rem }
      @media ( max-width: 65.6em /* 1049px */ ) { margin: 3rem auto 0 }
      & .text-container {
        & .title { font: { weight: 700; family: $f-sans-2 }; text-transform: uppercase; line-height: .81; margin-bottom: 4.7rem;
          & .leading-heading { display: block; font-size: 5.3rem;
            @media( max-width: 48.7em /* 779px */ ) { font-size: 4.5rem }
            @media ( max-width: 38.7em /* 619px */ ) { font-size: 3.5rem }
            @media ( max-width: 31.2em /* 499px */ ) { font-size: calc( 8vw + .2rem ) }
            & .thin { font-weight: 100 } }
          & .display-heading { display: block; font-size: 17.3rem; color: nth( $c-1, 1 );
            @media( max-width: 48.7em /* 779px */ ) { font-size: 14.5rem }
            @media ( max-width: 38.7em /* 619px */ ) { font-size: 11.5rem }
            @media ( max-width: 31.2em /* 499px */ ) { font-size: calc( 24vw + 0.3rem ) } } }
        & .text { font-size: 1.8rem; line-height: 1.65; max-width: 54.5rem;
          @media ( max-width: 68.7em /* 1099px */ ) { font-size: 2rem; text-align: center; max-width: 48rem; margin: 0 auto }
          @media( max-width: 48.7em /* 779px */ ) { font-size: 1.8rem }
          @media ( max-width: 38.7em /* 619px */ ) { font-size: 1.7rem }
          @media( max-width: 26.2em /* 419px */ ) { font-size: 1.5rem } } }
      & .side-image { position: absolute; right: -5.2rem; top: 0;
        @media ( max-width: 82.45em /* 1319px */ ) { width: 50rem; right: 0 }
        @media ( max-width: 68.7em /* 1099px */ ) { width: 36rem; right: -9rem; top: 4rem }
        @media ( max-width: 65.6em /* 1049px */ ) { display: none } } }
    & > .logo { display: block; width: 17.7rem; margin: 4rem auto 0; position: relative; animation: move-bottom nth( $a-dt, 2 ) .25s both }
    & .buttons-container { @include clearfix;
      @media( max-width: 82.45em /* 1319px */) { max-width: 100rem }
      @media ( max-width: 65.6em /* 1049px */ ) { @include abs-center( left ); bottom: 4rem }
      & .buttons-set { float: right;
        @media ( max-width: 65.6em /* 1049px */ ) { float: none }
        & button { display: inline-block; @include shape-circle( 3.6rem ); transition: all nth( $a-dt, 1 );
          &:not( :last-child ) { margin-right: 2.6rem }
          &[ name="previous" ] { background-color: nth( $c-0, 2 );
            @media ( max-width: 65.6em /* 1049px */ ) { background-color: nth( $c-1, 1 ) }
            & img { transform: scale( -1 ); filter: brightness( 65% );
              @media ( max-width: 65.6em /* 1049px */ ) { filter: none } }
            &:hover { transform: translateX( -.5rem ) }
            &:active { transform: translateX( -.8rem ) } }
          &[ name="next" ] { background-color: nth( $c-1, 1 );
            &:hover { transform: translateX( .5rem ) }
            &:active { transform: translateX( .8rem ) } } } } } } }
