// Planos de Fundo
  // Primeiro
  @mixin background-1( $y: 50% )
    { background: url( "../../multimedia/images/backgrounds/city-4.jpg" ) repeat-x center $y/cover nth( $c-1, 3 ) }

// Gradientes
  // Primeiro
  @mixin gradient-1( $color-1, $color-2: darken( $color-1, 12% ) )
    { background-image: linear-gradient( 90deg, $color-1 0%, $color-1 25%, mix( $color-2, $color-1, 25% ) 40%, mix( $color-2, $color-1, 50% ) 50%, $color-2 100% )  }

  // Segundo
  @mixin gradient-2( $color-1, $color-2: adjust-color( $color-1, $hue: 14deg, $lightness: -12% ) )
    { background-image: linear-gradient( 135deg, $color-1 0%, $color-2 100%  ) }

// Sombreamentos
  // Drop Shadow
  @mixin drop-shadow-1( $height: .8rem, $difusal: .5rem )
    { filter: drop-shadow( 0 $height $difusal rgba( 0, 0, 0, .25 ) ) }

  // Box Shadow
  @mixin box-shadow-1()
    { box-shadow: 0 .4rem .5rem .2rem rgba( 0, 0, 0, .3 );
        &:hover, &:focus { box-shadow: 0 .5rem .6rem .2rem rgba( 0, 0, 0, .25 ) }
        &:active { box-shadow: 0 .4rem .6rem .3rem rgba( 0, 0, 0, .2 ) } }

// Deslocamentos
  // Deslocamento para Cima
  @mixin move-y-1( $scale: false )
    { @if scale
        { &:hover, &:focus { transform: translateY( -.4rem ) scale( 1.01 ) }
          &:active { transform: translateY( -.6rem ) scale( 1.015 ) } }
      @else
        { &:hover, &:focus { transform: translateY( -.4rem ) }
          &:active { transform: translateY( -.6rem ) } } }

// Blocos de Estilo
  // Blocos de Título
    // Primeiro
    @mixin heading-block-1( $margin: 6.1rem, $color-1: inherit, $color-2: nth( $c-0, 4 ) )
      { & .heading-container { font-family: $f-sans-2; text-transform: uppercase; margin-bottom: $margin;
          & .heading-set { color: $color-1;
            & .sub-title { font: { size: 2rem; weight: 400 }; color: $color-2; line-height: 1.95 }
            & .title { font: { size: 4.5rem; weight: 700 }; line-height: 1;
              & .line { display: block } } }
        @content; } }
    // Segundo
    @mixin heading-block-2( $img, $img-margin, $heading-margin: 2.6rem, $responsive: false )
      { & .heading-container { font-family: $f-sans-2; text-transform: uppercase; margin-bottom: $heading-margin;
          & .heading-set { display: inline-block;
            & .sub-title { font: { size: 2rem; weight: 400 }; color: nth( $c-0, 4 ); line-height: 1.95 }
            & .title { font: { size: 3.5rem; weight: 700 }; line-height: 1;
              & .line { display: block } } }
          &::before { content: url( "../../multimedia/images/#{ unquote( $img ) }" ); display: inline-block; position: relative; margin-right: $img-margin }
        @if $responsive
          { @media ( max-width: unquote( nth( $responsive, 1 ) ) )
              { text-align: center } }
        @content; } }

  // Blocos de Imagens
    // Primeiro
    @mixin images-grid-block-1( $button: true, $description: ( max-w: 25rem, m-right: 0, f-size: 1.7rem ), $responsive: false )
      { & .image-container { @include row-flex( $side-aligment: flex-start );
          &:not( :last-of-type ) { margin-bottom: 3rem }
          & .ilustration { @include shape-circle( 17.2rem, lighten( nth( $c-0, 3 ), 1% ) ); border: solid .2rem nth( $c-1, 2 ); margin-right: 7.6rem;
            & img { width: 100%; height: 100%; object-fit: scale-down; object-position: center } }
        @if $description
          { & .description-container { max-width: map-get( $description, max-w ); margin-right: map-get( $description, m-right );
              & .title { font: { size: 2.8rem; weight: 500 }; line-height: 1.05; letter-spacing: -.2rem; margin-bottom: 2.2rem }
              & .description { font-size: map-get( $description, f-size ); line-height: 1.7 } } }
        @if $button
          { & .button-container {
              & button { width: 1.6rem; height: 1.6rem; border: solid .2rem nth( $c-2, 2 ); background: url( "../../multimedia/images/icons/rarr-2.png" ) no-repeat center/100% transparent; transition: filter nth( $a-dt, 1 );
                &:hover, &:focus { filter: brightness( 90% ) saturate( 120% ) } } } }
        @if $responsive
          { @media ( max-width: unquote( nth( nth( $responsive, 1 ), 1 ) ) ) and ( min-width: unquote( nth( nth( $responsive, 2 ), 1 ) ) ), ( max-width: unquote( nth( nth( $responsive, 3 ), 1 ) ) ) {
              & .ilustration { margin-right: 3rem }
              @if $description
                { & .description-container { margin-right: 1rem;
                    & .description { font-size: 1.5rem } } } }
            @media ( max-width: unquote( nth( nth( $responsive, 2 ), 1 ) ) )
              { &:not( :last-of-type ) { margin-bottom: 6.5rem } }
            @media ( max-width: unquote( nth( nth( $responsive, 4 ), 1 ) ) )
              { flex-direction: column; align-items: center; width: 100%; text-align: center;
                  & .ilustration { margin: { right: 0; bottom: 2.5rem } }
                  @if $description
                    { & .description-container { max-width: none; margin-right: 0;
                        & .description { text-align: center } } }
                  @if $button
                    { & .description-container {
                        & .description { margin-bottom: 2.4rem } } } } }
        @content; } }

    // Segundo
    @mixin images-grid-block-2( $button: true, $description: true, $ctn-max-w: 38rem, $ilus-bmar: 2.4rem, $ti-bmar: 2.4rem, $des-bmar: 2.4rem, $des-f-size: 1.4rem, $responsive: false )
      { & .image-container { @include column-flex( $main-aligment: flex-start, $side-aligment: flex-start ); max-width: $ctn-max-w;
          &:not( :last-of-type ) { margin-right: 3rem }
          & .ilustration { display: block; margin-bottom: $ilus-bmar;
            & img { width: 100%; height: 100%; object-fit: scale-down; object-position: center } }
        @if $description
          { & .description-container { width: 100%; margin-bottom: $des-bmar;
              & .title { font: { size: 2.8rem; weight: 500 }; line-height: 1.05; letter-spacing: -.2rem; margin-bottom: $ti-bmar }
              & .description { font-size: $des-f-size; max-height: $des-f-size * 1.85 * 2; line-height: 1.85; overflow: hidden } } }
        @if $button
          { & .button-container {
              & button { width: 1.6rem; height: 1.6rem; border: solid .2rem nth( $c-2, 2 ); background: url( "../../multimedia/images/icons/rarr-2.png" ) no-repeat center/100% transparent; transition: filter nth( $a-dt, 1 );
                &:hover, &:focus { filter: brightness( 90% ) saturate( 120% ) } } } }
        @if $responsive
          { @media ( max-width: unquote( nth( $responsive, 1 ) ) )
              { &:nth-of-type( n ) { margin: 3rem 4rem }
                @if $description
                  { & .description-container {
                      & .title { font-size: 2.2rem; text-align: center; margin-bottom: 1.4rem }
                      & .description { text-align: center } } } }
            @media ( max-width: unquote( nth( $responsive, 2 ) ) )
              { &:nth-of-type( n ) { margin: 3rem 2rem } } }
        @content; } }

  // Blocos de Listas
    // Social 1
    @mixin social-list-block-1( $size, $rmar, $img )
      { & .social-list {
          & li { display: inline-block;
            &:not( :last-child ) { margin-right: $rmar }
            & a { display: inline-block; width: $size; height: $size; background: { size: contain; position: center; repeat: no-repeat } }
            @each $name, $path in $img
              { &.#{ $name } {
                  & a { background-image: url( "../../multimedia/images/icons/#{ unquote( $path ) }" ) } } } }
        @content; } }

// Componentes
  // Traço Azul
  @mixin trailing-stroke( $left: 0, $bottom: -4.6rem, $width: 26.7rem, $height: .1rem, $element: after, $responsive: false )
    { &::#{ $element } { @include null-content( $width, $height ); background-color: nth( $c-2, 1 ); position: absolute; left: $left; bottom: $bottom;
        @if $responsive
          { @media ( max-width: unquote( nth( nth( $responsive, 1 ), 1 ) ) ) { left: unquote( nth( nth( $responsive, 1 ), 2 ) ) }
            @media ( max-width: unquote( nth( nth( $responsive, 2 ), 1 ) ) ) { width: unquote( nth( nth( $responsive, 2 ), 2 ) ) }
            @media ( max-width: unquote( nth( nth( $responsive, 3 ), 1 ) ) ) { display: none } }
      @content; } }

  // Botões de Chamada Para Ação
    // Primeiro
    @mixin action-button-1( $icon: "email-1.png" )
      { & button { color: white; font: { family: $f-sans-1; size: 1.4rem; weight: 700 }; text-transform: uppercase; padding: 2.8rem 8.4rem 2.8rem 4.4rem; border-radius: map-get( $br, medium ); @include gradient-1( nth( $c-2, 1 ) ); position: relative; @include text-hidden( ellipsis ); @include box-shadow-1; @include move-y-1( true ); transition: all nth( $a-dt, 1 );
          &::after { content: url( "../../multimedia/images/icons/#{ unquote( $icon ) }" ); @include abs-center( top ); right: 5.2rem }
          @media ( max-width: 22.45em /* 359px */ ) { padding: 2.5rem 8rem 2.5rem 3.2rem }
        @content; } }

  // Inputs
    // Primeiro
    @mixin input-1( $padding: 3rem 1.8rem, $target: input, $icon: false, $bg-x: 95%, $bg-y: 50% )
      { & #{ $target } { box-sizing: border-box; color: nth( $c-1, 7 ); font: 500 1.2rem $f-sans-1; caret-color: nth( $c-1, 5 ); height: 7.3rem; padding: $padding; background-color: nth( $c-1, 6 ); border: solid .1rem nth( $c-1, 5 ); transition: all nth( $a-dt, 1 );
          &::placeholder { color: inherit; font-size: inherit; text-transform: uppercase; transition: inherit }
          &:focus { border: { width: .2rem; color: nth( $c-1, 8 ) }
            &::placeholder { opacity: 0 } }
          &:invalid { border-color: adjust-hue( nth( $c-1, 5 ), -211deg ) }
        @if $icon
          { @each $attribute, $image in $icon
              { &[ #{ unquote( $attribute ) } ] { background: { image: url( "../../multimedia/images/icons/#{ unquote( $image ) }" ); repeat: no-repeat; position: $bg-x $bg-y };
                  &:focus { background-image: none } } } }
        @content; } }
