// Fontes
@include museo-sans; @include akrobat; @include gotham-htf;

  // Sans-Serif
  $f-sans-1: "Museo Sans", sans-serif; $f-sans-2: "Akrobat", sans-serif; $f-sans-3: "GothamHTF", sans-serif;

// Cores

  // Paleta
  $c-0: ( hsl( 0, 0, 34% ), hsl( 0, 0, 97% ), hsl( 0, 0, 91% ), hsl( 0, 0, 44% ),
          hsl( 0, 0, 27% ), hsl( 0, 0, 87% ), hsl( 0, 0, 64% ), hsl( 0, 0, 12% ) );
  $c-1: ( hsl( 211, 100%, 27% ), 	hsl(211, 65%, 37%), hsl( 211, 94%, 20% ), hsl( 211, 26%, 74% ),
          hsl( 211, 77%, 34% ),  hsl( 211, 97%, 13% ), hsl( 211, 75%, 43% ), hsl( 217, 99%, 65% ) );
  $c-2: ( hsl( 192, 98%, 50% ), hsl(192, 82%, 70%) );

  // Componentes
  $c-default-bg: white;

  // Medidas
    $grid-rm: 10.3rem; $content-pad:( normal: 4rem, responsive: 1.5rem );
    $media: ( img-block-r-1a: ( "74.95em /* 1199px */", "65.6em /* 1050px */", "41.85em /* 669px */", "35.6em /* 569px */" ),
              img-block-r-1b: ( "81.2em /* 1299px */", "71.85em /* 1150px */", "49.95em /* 799px */", "39.95em /* 639px */" ),
              img-block-r-2: ( "65.59em /* 1049px */" ),
              tail-1a: ( "99.95em /* 1599px */", "#{ map-get( $content-pad, normal ) }" ), tail-1b: ( "99.95em /* 1599px */", "0" ),
              tail-2a: ( "51.2em /* 819px */", "15rem" ), tail-3a: ( "34.35em /* 549px */" ) );

// Animações & Transições
@include move-bottom( 2rem, $overrun: true, $opacity: true );

    // Duração & Timing
    $a-dt: ( .5s ease-out, .8s ease-in-out, .2s ease-out );

// Outros

  // Curvatura da Borda
  $br: ( medium: .3rem );
