/* Seção de Últimos Eventos */
#events-list { background-color: nth( $c-0, 6 );
  .content-container { @include set-grid; padding: 10rem 0 9rem;
    @include heading-block-2( "decoratives/ilustration-12.png", 4.2rem, $responsive: ( "78.1em /* 1249px */" ) );
    .images-block { @include row-flex( $side-aligment: flex-start );
      @media ( max-width: 78.1em /* 1249px */) { flex-wrap: wrap; justify-content: center }
      @include images-grid-block-2( $responsive: ( "78.1em /* 1249px */", "58.7em /* 939px */" ) ) {
        .ilustration { @include drop-shadow-1 } } } } }
