/* Sobre nós – Introdução */
#about-us #introduction { width: 100%; padding-top: 11.1rem;
  @media ( max-width: 69.95em /* 1119px */ ) { padding: 11.1rem 0 9rem }
  & .content-container { @include row-flex( $side-aligment: flex-start ); @include set-grid; padding: 0 map-get( $content-pad, normal );
    @media ( max-width: 81.2em /* 1299px */ ) { box-sizing: border-box }
    @media ( max-width: 69.95em /* 1119px */ ) { flex-direction: column-reverse; align-items: center }
    @media ( max-width: 34.35em /* 549px */ ) { padding: 0 map-get( $content-pad, responsive ) }
    & .side-image { position: relative; top: calc( -11.1rem - 10.2rem ); left: -3.7rem; @include trailing-stroke( $responsive: ( ( "0", "0" ), ( "0", "0" ), ( "69.95em /* 1119px */" ) ) );
      @media ( max-width: 99.95em /* 1599px */ ) { left: 0 }
      @media ( max-width: 69.95em /* 1119px */ ) { position: static }
      & img { @include drop-shadow-1 } }
    & .text-container { max-width: 47.8rem; margin-right: .8rem;
      @media ( max-width: 81.2em /* 1299px */ ) { max-width: 36rem; position: relative; top: -10rem }
      @media ( max-width: 69.95em /* 1119px */ ) { position: static; max-width: none; text-align: center; padding-bottom: 6rem }
      @include heading-block-1( $margin: 5.6rem ) {
        @media ( max-width: 69.95em /* 1119px */ ) { margin-bottom: 3rem } };
      & .texts-set {
        & .text {
          @media ( max-width: 69.95em /* 1119px */ ) { text-align: center }
          @media ( max-width: 69.95em /* 1119px */ ) and ( min-width: 34.36em /* 550px */ ) { font-size: 1.4rem } } } } } }
