/* Informações de Contato da Compania */
#top-footer #company-info { height: 37.5rem; background-color: nth( $c-0, 8 );
  @media ( max-width: 79.95em /* 1279px */ ) { height: 45rem }
  @media ( max-width: 52.45em /* 839px */ ) { height: auto; padding: 3rem 0 0 }
  & > .content-container { @include row-flex; @include set-grid; height: 100%;
    @media ( max-width: 79.95em /* 1279px */ ) { justify-content: space-around }
    @media ( max-width: 62.45em /* 999px */ ) { justify-content: space-between }
    @media ( max-width: 52.45em /* 839px */ ) { flex-direction: column }
    & > .info-container { @include row-flex( $main-aligment: flex-start, $side-aligment: flex-start );
      @media ( max-width: 79.95em /* 1279px */ ) and ( min-width: 52.5em /* 840px */ ), ( max-width: 46.85em /* 749px */ ) { flex-direction: column; align-items: center }
      @media ( max-width: 62.45em /* 999px */ ) { flex-grow: 1 }
      @media ( max-width: 52.45em /* 839px */ ) { margin-bottom: 4rem }
      @media ( max-width: 33.1em /* 529px */ ) { width: 100% }
      & > .side-image { display: inline-block; margin-right: 5.5rem;
        @media ( max-width: 79.95em /* 1279px */ ) and ( min-width: 52.5em /* 840px */ ), ( max-width: 46.85em /* 749px */ ) { width: 12rem; margin: { right: 0; bottom: 2rem } } }
        @media ( max-width: 33.1em /* 529px */ ) { margin-bottom: 5rem }
      & > .side-text { @include clearfix;
        @media ( max-width: 33.1em /* 529px */ ) { display: flex; flex-direction: column; width: 100% }
        & > .side-text { float: left; margin-right: 13.8rem; cursor: default;
          @media ( max-width: 33.1em /* 529px */ ) { float: none; margin-right: 0; display: flex; flex-wrap: wrap; justify-content: space-around }
          @media( max-width: 26.2rem /* 419px */) { flex-direction: column; align-items: center }
          & > .text-container { max-width: 20rem;
            &:not( :last-of-type ) { margin-bottom: 5rem }
            @media ( max-width: 33.1em /* 529px */ ) {
              &:nth-of-type( n ) { margin: 3rem 0 } }
            @media( max-width: 26.2rem /* 419px */) { &:first-of-type { margin-left: 2.5rem } }
            &[ class~="address" ] {
              & > .heading-container { font-family: $f-sans-2; margin-bottom: 2.2rem; text-transform: uppercase;
                & > .title { font: { size: 2rem; weight: 700 }; color: nth( $c-0, 6 ); line-height: 1;
                  & > .line { display: block } } }
              & > .block-address { font-size: 1.1rem; color: nth( $c-0, 4 );
                & > .line { display: block;
                  &:not( :last-child ) { margin-bottom: .8rem } } } }
          &[ class~="contact" ] {
            & > .heading-container { margin-bottom: 1.5rem; text-transform: uppercase;
              & > .heading-set { color: nth( $c-0, 6 );
                & > .sub-title { font-size: 1.2rem; color: nth( $c-0, 4 ); line-height: 1.65 }
                & > .title { font-size: 2rem; line-height: 1 } } }
            & > .info-container {
              & > .info-list { font-size: 1rem; color: nth( $c-0, 4 ); line-height: 1;
                & > .list-set {
                  &:not( :last-child ) { margin-bottom: .5rem } } } } } } }
        & > .nav-container { float: right;
          @media ( max-width: 33.1em /* 529px */ ) { float: none; display: flex; flex-direction: column; align-items: center }
          & > .pages-list { color: nth( $c-0, 4 ); margin-bottom: 6.7rem; font-family: $f-sans-3; text-transform: uppercase; line-height: 1;
            @media ( max-width: 33.1em /* 529px */ ) { display: flex; justify-content: space-around; width: 100% }
            @media( max-width: 26.2rem /* 419px */) { flex-direction: column; align-items: center; margin-top: 4rem }
            & > li { padding: 1.1rem 0; position: relative; transition: color nth( $a-dt, 3 );
              &:not( :last-child ) { margin-bottom: 1.6rem }
              &:hover, &:focus { color: lighten( nth( $c-0, 4 ), 16% ) }
              &:active { color: lighten( nth( $c-0, 4 ), 32% ) }
              &.current { color: nth( $c-0, 6 ); @include trailing-stroke( $bottom: 0, $width: 7.6rem ) } } }
          @include social-list-block-1( 2.4rem, 2.2rem, ( facebook: "facebook-2.png", twitter: "twitter-2.png", linkedin: "linkedin-2.png", youtube: "youtube-2.png" ) ) {
            & a { filter: brightness( 54% ); transition: filter nth( $a-dt, 1 );
              &:hover, &:focus { filter: brightness( 80% ) }
              &:active { filter: brightness( 100% ) } } } } } }
    & > .contact-action { box-sizing: border-box; height: 100%; padding: 0 5.4rem; @include gradient-2( nth( $c-1, 1 ) );
      @media ( max-width: 57.45em /* 919px */ ) { padding: 0 2.4rem }
      @media ( max-width: 52.45em /* 839px */ ) { width: 100%; padding: 2rem 2.5rem 4rem }
      & > .content-container { @include column-flex( $main-aligment: center, $side-aligment: center ); height: 100%;
        & > .text-container { color: nth( $c-0, 6 ); max-width: 27.2rem;
          @media ( max-width: 52.45em /* 839px */ ) { max-width: none }
          & > .heading-container { font-family: $f-sans-2; text-transform: uppercase; margin-bottom: 2.7rem; text-align: center;
            & > .title { font: { size: 2.7rem; weight: 700 }; line-height: .95;
              @media ( max-width: 36.85em /* 589px */ ) { font-size: 2.4rem }
              @media ( max-width: 33.1em /* 529px */ ) { & .removable { display: none } } } }
          & > .text-set { font-size: 1.1rem; line-height: 1.82; margin-bottom: 4rem; cursor: default;
            @media ( max-width: 52.45em /* 839px */ ) and ( min-width: 36.9em /* 590px */ ) { font-size: 1.4rem }
            & > .text { text-align: center;
              &:not( :last-child ) { margin-bottom: 3rem } } } }
        & > .button-container {
          @include action-button-1 } } } } }
